.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    background-color: rgb(210, 14, 171);
    grid-area: 1 / 1 / 3 / 2;
}

.sidebar-icon {
    width: 20px;
    height: 20px;
}

.header {
    background-color: blue;
}

.upper-header{
    background-color: brown;
}

.lower-header {
    background-color: red;
}

main {
    background-color: rgb(26, 148, 150);
}

li {
    list-style: none;
    display: flex;
}